@import "../../../assets/styles/_variables";

.grey {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 30;
}

a {
  color: #666;
  text-decoration: none;
}

.bg {
  background-image: url('~@/assets/images/my_bg@2x.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 280px;
  background-position: 0 0;
  z-index: 100;
}

.wrapper {
  width: 100%;
  height: 370px;
  padding: 25px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  color: $font-main-color;

  .profile {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;

    .name {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 10px;
      margin-top: 0;
    }

    .link {
      font-size: 24px;
      color: #999;
    }

    .fav {
      display: inline-block;
      padding: 8px 12px;
      background: rgba(2, 209, 153, 0.16);
      border-radius: 12px;
      color: #02d199;
      margin: 0;
      font-size: 22px;

      .icon-fav {
        padding-right: 10px;
      }
    }

    .info,
    .stats {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .info {
      margin-bottom: 24px;
    }

    .stats {
      justify-content: space-around;
    }

    .user {
      flex: 1;
      padding-left: 20px;
    }

    .pic {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }

    .item {
      text-align: center;
      position: relative;

      p {
        margin-top: 14px;
        margin-bottom: 0;
      }

      &:after {
        width: 2px;
        height: 80px;
        background: #ddd;
        content: '';
        position: absolute;
        right: -60px;
        top: 20px;
      }

      &:last-child {
        &:after {
          width: 0;
        }
      }

      .title {
        color: #666;
      }
    }
  }
}

.center-wraper {
  background: #f6f5f8;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;

  .center-list {
    background: #fff;
    margin-bottom: 30px;
    display: flex;
    flex-flow: wrap;
    padding-top: 40px;

    &.first {
      padding-top: 100px;
    }

    li {
      width: 25%;
      text-align: center;
      color: #666;
      margin-bottom: 40px;
      font-size: 26px;
    }

    i {
      display: block;
      font-size: 40px;
      width: 56px;
      height: 56px;
      margin: 0 auto 20px;
      color: #888;
      background-size: contain;
    }

    .icon-teizi {
      background-image: url(~@/assets/images/teizi@2x.png);
    }

    .icon-setting {
      background-image: url(~@/assets/images/setting@2x.png);
    }

    .icon-lock2 {
      background-image: url(~@/assets/images/lock2@2x.png);
    }

    .icon-qiandao {
      background-image: url(~@/assets/images/qiandao@2x.png);
    }

    .icon-record {
      background-image: url(~@/assets/images/record@2x.png);
    }

    .icon-jiangbei {
      background-image: url(~@/assets/images/jiangbei@2x.png);
    }

    .icon-question {
      background-image: url(~@/assets/images/question@2x.png);
    }

    .icon-share {
      background-image: url(~@/assets/images/share@2x.png);
    }

    .icon-taolun {
      background-image: url(~@/assets/images/taolun@2x.png);
    }

    .icon-advise {
      background-image: url(~@/assets/images/advice@2x.png);
    }
  }
}
