@import "../../assets/styles/_variables";

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-loadmore-wrapper {
  overflow: scroll;
  -webkit-overflow-scrolling: touch; // 硬件加速

  &:after {
    min-height: calc(100% + 1px);
  }
}

.mint-loadmore-top,
.mint-loadmore-bottom {
  color: $font-main-color;

  span {
    display: inline-block;
    transition: 0.2s linear;
    vertical-align: middle;
  }

  &.is-rotate {
    transform: rotate(180deg);
  }

  .text {
    padding-left: 10px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
  }
}
