@import "../../../assets/styles/variables";

.wrapper {
  padding: 0 20px;

  .lis {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    li {
      background: rgba(243, 243, 243, 1);
      color: #999;
      height: 50px;
      font-size: 26px;
      font-weight: bold;
      line-height: 50px;
      padding: 0 35px;
      border-radius: 20px;
      margin-right: 25px;
      margin-top: 15px;

      &.active {
        color: rgba(2, 209, 153, 1);
        background: rgba(2, 209, 153, 0.16);
      }
    }
  }
}

.content-box {
  padding: 0 30px 60px 30px;

  .content-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .num {
    font-size: 36px;
    font-weight: bold;

    &.first {
      color: #ed745e;
    }

    &.second {
      color: #e08435;
    }

    &.third {
      color: #f1ae37;
    }

    &.common {
      color: #999;
    }
  }

  .user {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding-left: 20px;
  }

  .column {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 130px;
    padding: 35px 20px;

    &.no-between {
      justify-content: center;

      .title {
        padding-bottom: 16px;
      }
    }

    .title {
      color: #333;
      font-size: 32px;
      font-weight: bold;
    }

    .read {
      font-size: 26px;
      color: #999;

      span {
        color: $font-main-color;
        font-weight: bold;
      }
    }
  }

  .img {
    width: 200px;
    height: 125px;
    border-radius: 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
