@import "../../../assets/styles/_variables";

.container {
  padding: $header-height - 2 30px 30px;
  position: relative;
  z-index: 0;
}

.ctrls {
  padding: 0 30px;
  margin-top: 60px;

  button {
    margin-bottom: 30px;
  }
}
